root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{elm,html,styl}]
charset = utf-8
indent_style = space
indent_size = 4


[*.{js}]
charset = utf-8
indent_style = space
indent_size = 2

[{elm-package.json}]
indent_style = space
indent_size = 4

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
