@require './Variables.styl'

$disabled
    color medium-shade
    cursor not-allowed


.edp-container
    display inline-block
    width 300px
    overflow hidden

    .edp-header-section
        background-color primary-color
        padding 16px 24px
        color white-fade
        .edp-header-active
            color white
        .edp-header-year
            display inline-block
            &.edp-header-active
                font-weight bolder
            cursor pointer
            font-size 14px


    .edp-month-wrapper
        position relative
        width 300px
        height 240px

    .edp-month-day-wrapper
        position relative
        height 48px
        overflow hidden

    .edp-header-month-day
        padding-top 0px
        position absolute
        cursor pointer
        font-size 32px
        font-weight 500
        height 48px
        animation-duration .35s
        animation-fill-mode forwards
        line-height 48px
        &.edp-month-day-previous
            margin-right 1px
            animation-name edp-slideupprevious
        &:not(.edp-month-day-previous)
            margin-right 1px
            animation-name edp-slideupnext



    .edp-month-slider
        top 0
        left 0
        width 300px
        position absolute
        animation-duration .35s
        animation-fill-mode forwards
        &.edp-in-next
            animation-name edp-slidenext
        &.edp-in-previous
            animation-name edp-slideprevious
        &.edp-out-next
            animation-name edp-slideoutnext
        &.edp-out-previous
            animation-name edp-slideoutprevious

    .edp-month-change-section
        display flex
        color font-color
        justify-content space-between
        align-items center
        .arrow-icon
            padding 8px
            cursor pointer
            color label-color
            &.edp-disabled
                @extends $disabled

    .edp-column
        width 40px
        height 40px
        line-height 40px
        text-align center
        display inline-block

    .edp-day-symbol
        font-size 12px
        color rgba(0, 0, 0, 0.54)

    .edp-day-number
        font-size 12px
        color rgba(0, 0, 0, 0.86)
        transition background-color .30s
        border-radius 50%
        background-color rgba(0, 0, 0, 0)
        cursor pointer
        &:hover:not(.edp-empty-column):not(.edp-disabled-column):not(.edp-day-number-selected)
            background-color light-shade
        &.edp-day-number-today
            color primary-color
            font-weight bolder
        &.edp-day-number-selected
            background-color primary-color
            color white

    .edp-empty-column
        color rgba(255, 255, 255, 0)

    .edp-disabled-column
        color label-color

    .edp-body-section
        background-color white
        padding-left 8px
        padding-right 8px
        height 40px

    .edp-bottom-section
        display flex
        justify-content flex-end
        padding-bottom 16px

    .edp-button
        color primary-color
        border none
        outline none
        background-color white
        font-weight bold
        min-width 64px
        padding 8px
        border-radius 3px
        cursor pointer
        background-color rgba(0, 0, 0, 0)
        transition .30s
        line-height 100%
        &:not(:last-child)
            margin-right 16px
        &:hover:not(.edp-disabled)
            background-color light-shade
        &:focus
            outline none
        &.edp-disabled
            @extends $disabled

    .edp-year-button
        color primary-color
        padding 0px
        width 200px
        transition .3s
        box-shadow 0 0px 0px rgba(0, 0, 0, 0.0)
        height 40px
        line-height 40px
        &:hover
            box-shadow  0 1px 3px medium-shade
        &.edp-year-button-selected
            height 50px
            line-height 50px
            font-size 32px


    .edp-year-picker
        height 320px
        position relative
        display flex
        justify-content center
        overflow auto

@keyframes edp-slideupprevious
    from
        transform translateY(0%)
    to
        transform translateY(-100%)

@keyframes edp-slideupnext
    from
        transform translateY(100%)
    to
        transform translateY(0%)

@keyframes edp-slidenext {
    from {
        transform translateX(100%)
    }
    to {
        transform translateX(0%)
    }
}

@keyframes edp-slideprevious {
    from {
        transform translateX(-100%)
    }
    to {
        transform translateX(0%)
    }
}

@keyframes edp-slideoutnext {
    from {
        transform translateX(0%)
    }
    to {
        transform translateX(-100%)
    }
}

@keyframes edp-slideoutprevious {
    from {
        transform translateX(0%)
    }
    to {
        transform translateX(100%)
    }
}
