primary-color =  #60b5cd

font-color = rgba(0, 0, 0, 0.84)
label-color = rgba(0, 0, 0, 0.54)
error-color = #B00020

light-shade = rgba(0, 0, 0, 0.08)
medium-shade = rgba(0, 0, 0, 0.16)

white = rgba(255, 255, 255, 1)
white-fade = rgba(255, 255, 255, 0.8)
